body {
background-color: lightblue;
}

.header {
  padding: 80px;
 }

.header h1 {
  font-size: 40px;
  text-align: center;
  color: rgb(130, 100, 211);
}

.header p {
  font-size: 20px;
  text-align: center;
  color: hotpink;
}

/* cert page header */

.certheader {
  padding: 50px;
 }

.certheader h1 {
  font-size: 40px;
  text-align: center;
  color: red;
}

.certheader p {
  font-size: 20px;
  text-align: center;
  color: red;
}





.navbar {
  overflow: hidden;
  background-color: #c41271;

}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;

}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #c41247;
  color: black;
}

* {
  box-sizing: border-box;
}
/* temp remove rows --
.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 50%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  flex: 50%;
  background-color: white;
  padding: 20px;
}
*/

.aboutme {
  padding: 2px;
  text-align: center;
  background-color: #54e870;

  }

.aboutme h2 {
  text-align: center;
  background-color: red;

  }

.aboutme h3 {
  text-align: center;
  background-color: orange;

  }
  .aboutme h4 {
    text-align: center;
    background-color: rgb(0, 255, 213);

    }


@media screen and (max-width:
700px) {
  .row {
    flex-direction: column;
  }
}

 @media screen and (max-width:
400PX) {
  .navbar a {
    float: none;
    width: 100%;
  }
}




.table  {
  margin: auto;
}

.footer {
  position: fixed;
  padding: 1px;
  text-align: center;
  background: #5491e8;
  bottom: 0%;
  left: 0%;
  font-size: 10px;
}


.blenderImages {
display: block;
text-align: center;

}

#lroom,#lroomwall,#chair {
  width:300px;
  height:200px;
  padding: 10px 10px 10px 10px;

}


.button {
  border: none;
  color: rgb(228, 9, 9);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.1s;
  cursor: pointer;


}




.buttonContainer{
  padding: 10px 10px 10px 10px;

}



.homeButton {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 2px solid #0cdabe;
  width:100px;
  height: 50px;

}


.homeButton:hover {
  background-color: #0cdabe;
  color: white;

}










